h1{font-family: Verdana;
font-weight: Normal;
font-size: 50px;
text-align: Center;
color: black;}

h2{color: Aquamarine;
font-size: 16px;
text-align: center;}

p{font-family: Verdana;
font-size: 21px;
color; black;}
